.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 100%;
  /* height: max-content; */
  max-width: 1110px !important;
  /* background-color: brown; */
  margin: 10px !important;
  padding: 30px;
}
